= render 'top'
= render 'state'
.container
  .content
    - elsif pledge.success?
      Donation received thanks!
    - elsif pledge.failure?
      Looks like that didn't work out
    - elsif pledge.pending?
      This pledge is still processing.
