.authenticate.indigo
  .container
    %h2
      Your Personalised Giving Site
    %p
      Share with your potential partners information about your Summer Project.
    %a.btn-primary.btn-lg.btn-light{href: donee_url(donee)}
      = fa_icon 'angle-right'
      Go To My Give Site
