.authenticate.indigo
  .container
    %h2
      Sign In or Sign Up for an Account
    %p
      By getting a giving account you can save information to speed up future giving. You can also see all your historic giving info. What are you waiting for? Get started by signing in or signing up.
    %a.btn-primary.btn-lg.btn-light{href: new_user_session_path}
      = fa_icon 'angle-right'
      Sign In
    %a.btn-primary.btn-lg.btn-light{href: new_user_registration_path}
      = fa_icon 'angle-right'
      Sign Up
