.top.orange
  .container
    %h1 Find a friend going on Project.
    .search
      = form_tag '', id: 'donee_search', onsubmit: 'return false;' do
        = fa_icon 'search'
        .input
          = text_field_tag 'search', nil, autocomplete: 'off', id: 'donee_name_search'
    #donees
