<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">Looks like your off on a Summer Project. Before that all happens you'll have the opportunity to do some Ministry Partner Development. Don't worry though, we've put together a system to help you through the process. As you receive donations you'll be able to see each donor and how much they've given.</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">To get started you'll need to sign in with Facebook. Then enter your activation code we've given you below (this links your donations with your account).</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">If you have any questions, please contact the person coaching you through the MPD process.</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  Your Activation Code is:<br>
  <b><%= @donee.activation_code %></b>
</p>
<%= render partial: 'button', locals: { text: 'Activate My Account', link: root_url(redirect_to: edit_donee_url(activation_code: @donee.activation_code)) } %>
