<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">Looks like your off on a Summer Project. Before that all happens you'll have the opportunity to do some Ministry Partner Development. Don't worry though, we've put together a system to help you through the process. As you receive donations you'll be able to see each donor and how much they've given.</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">To get started you'll need to sign in with Facebook. Then enter your activation code we've given you below (this links your donations with your account).</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">If you have any questions, please contact the person coaching you through the MPD process.</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  Your Activation Code is:<br>
  <b><%= @donee.activation_code %></b>
</p>

<div class="btn" style="Margin-bottom: 27px">
  <!--[if !mso]><!-- --><a style="mso-hide: all;border-bottom-color: #454545;border-bottom-style: dotted;border-bottom-width: 0;color: #ffffff;font-weight: 700;text-decoration: none;font-family: sans-serif;background-color: #444444;border-left-width: 0;border-top-width: 0;border-right-width: 0;border-radius: 4px;box-shadow: 0 3px #111111;display: inline-block;font-size: 14px;letter-spacing: 0.04em;line-height: 21px;padding-top: 9px;padding-bottom: 8px;padding-left: 22px;padding-right: 22px;text-align: center;text-shadow: 0 1px 0 #111111;-webkit-font-smoothing: antialiased" href="<%= root_url(redirect_to: edit_donee_url(activation_code: @donee.activation_code)) %>">Activate My Account</a><!--<![endif]-->
  <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="<%= root_url(redirect_to: edit_donee_url(activation_code: @donee.activation_code)) %>" style="width:184px" arcsize="11%" fillcolor="#444444" stroke="f"><v:shadow on="t" color="#111111" offset="0,3px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,8px,0px,7px"><center style="font-size:14px;line-height:21px;color:#FFFFFF;font-family:sans-serif;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:2px">Activate My Account</center></v:textbox></v:roundrect><![endif]-->
</div>
