<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  Thanks for signing up to track your MPD progress. We'll keep you updated on any new features and whenever you get a new donation.
</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  You are embarking on an incredible adventure! You have accepted the challenge of helping reach the world for Christ by joining other students on a Student Life Summer Project. This could very well be one of the most exciting summers of your life!
</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  If you have any questions, please contact the person coaching you through the MPD process.
</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  Check out your shiny new personalized giving site below. You'll have to update your giving profile if you haven't done that yet.
</p>
<%= render partial: 'button', locals: { text: 'View My Giving Site', link: donee_url(@donee) } %>
