<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  Thanks for signing up to Partner with our Summer Projects. We'll keep you updated on any new features and send you a receipt when you donate.
</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  If you have any questions, please contact <a href="mailto:contact@studentlife.org.nz">contact@studentlife.org.nz</a>.
</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  Get started by visiting our Summer Projects Give Site.
</p>
<div class="btn" style="Margin-bottom: 27px">
  <!--[if !mso]><!-- -->
    <a style="mso-hide: all;border-bottom-color: #454545;border-bottom-style: dotted;border-bottom-width: 0;color: #ffffff;font-weight: 700;text-decoration: none;font-family: sans-serif;background-color: #444444;border-left-width: 0;border-top-width: 0;border-right-width: 0;border-radius: 4px;box-shadow: 0 3px #111111;display: inline-block;font-size: 14px;letter-spacing: 0.04em;line-height: 21px;padding-top: 9px;padding-bottom: 8px;padding-left: 22px;padding-right: 22px;text-align: center;text-shadow: 0 1px 0 #111111;-webkit-font-smoothing: antialiased" href="<%= give_root_url %>">View Student Life Give Site</a>
  <!--<![endif]-->
  <!--[if mso]>
    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="<%= give_root_url %>" style="width:184px" arcsize="11%" fillcolor="#444444" stroke="f"><v:shadow on="t" color="#111111" offset="0,3px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,8px,0px,7px"><center style="font-size:14px;line-height:21px;color:#FFFFFF;font-family:sans-serif;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:2px">View Student Life Give Site</center></v:textbox></v:roundrect>
  <![endif]-->
</div>
