<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  Thanks for signing up to partner with our Summer Projects. We'll keep you updated on any new features and send you a receipt when you donate.
</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  If you have any questions, please contact <a href="mailto:contact@studentlife.org.nz">contact@studentlife.org.nz</a>.
</p>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  Get started by visiting our Summer Projects Give Site.
</p>
<%= render partial: 'button', locals: { text: 'View Student Life Giving Site', link: give_root_url } %>
