.color0, .red {
  background: #F44336;
}
.color1, .blue {
  background: #2196F3;
}
.color2, .brown {
  background: #795548;
}
.color3, .orange {
  background: #FF5722;
}
.color4, .blue-gray {
  background: #607D8B;
}
.color5, .indigo {
  background: #3F51B5;
}
a.clean:hover {
  text-decoration: none;
}
.alert + a.clean, .alert + .top {
  margin-top: -20px;
  display: block;
}
.authenticate {
  color: #fff;
  padding: 20px 0 50px 0;
  h2 {
    font-weight: 900;
  }
  p {
    margin-bottom: 30px;
  }
}
.top {
  padding: 20px 0;
  h1 {
    font-size: 34px;
    line-height: 43px;
    font-weight: 900;
    letter-spacing: -1px;
    padding: 0;
    color: #fff;
    margin: 0;
  }
  h2 {
    display: block;
    margin-top: 1px;
    font-size: 15px;
    line-height: normal;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }
  a, a:link, a:visited {
    color: #fff;
    color: rgba(255,255,255,0.7);
    &:hover {
      color: rgba(255,255,255,0.9);
      text-decoration: none;
    }
  }
  .avatar {
    float: left;
    margin-top: 4px;
    margin-right: 10px;
    img {
      width: 51px;
      height: 51px;
      border-radius: 5px;
    }
  }
  .profile {
    margin-left: 61px;
  }
}
.state {
  background-color: #efefef;
  padding: 20px 0;
  .progress {
    margin-bottom: 5px;
  }
  .subtitle {
    h1 {
      margin-bottom: 0;
    }
  }
}
.help {
  color: #fff;
  line-height: 80px;
  padding-bottom: 15px;
  .btn-primary {
    color: #fff;
    border-color: #fff;
    &:hover, &:active:focus {
      border-color: #fff;
    }
  }
}
.projects {
  padding-top: 20px;
  .project-container {
    margin-bottom: 30px;
    .project {
      padding: 20px;
      color: #fff;
      h1 {
        margin-top: 0;
        font-size: 22px;
      }
      h2 {
        font-size: 16px;
        letter-spacing: normal;
        margin-bottom: 20px;
      }
    }
  }
}
.search {
  margin-top: 10px;
  input[type=text] {
    display: block;
    border: 2px solid #000;
    padding: 5px 10px;
    height: 42px;
    width: 80%;
    box-shadow: none;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
  .fa {
    border: 2px solid #000;
    border-right-width: 0;
    background: #fff;
    line-height: 38px;
    float: left;
    padding: 0 10px;
  }
}
.ui-menu {
  .ui-menu-item {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    z-index: 100;
  }
}
