
.intro-text {
  margin: 48px 0;
  h1 {
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 24px;
  }
  h4 {
    font-size: 27px;
    font-weight: 200;
    line-height: 37px;
  }
}
.jumbotron {
  background: image-url('mountains.png'), -webkit-linear-gradient(-280deg, #217142, #214271), no-repeat #214271 scroll;
  background: image-url('mountains.png'),linear-gradient(10deg, #217142, #214271), no-repeat #214271 scroll;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 140px;
  color: #fff;
  margin-bottom: 0;
  .logo {
    font-size: 48px;
    height: 96px;
    line-height: 72px;
    margin-bottom: 48px;
    .fa-inverse {
      color: #214271;
    }
  }
  h2 {
    font-size: 29px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  p.copy {
    margin: auto;
    margin-bottom: 3em;
    font-weight: lighter;
    line-height: 24px;
    font-size: 18px;
  }
}
header.navbar {
  > .container {
    .navbar-brand {
      .fa-inverse {
        color: #214271;
      }
    }
  }
}
.alert {
  border: 0 !important;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
.img-avatar {
  margin-right: 10px;
}
.img-rounded-square {
}
.users {
  &.users-edit {
    .simple_form {
      margin-bottom: 20px;
      .form-group {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  #user_activation_code {
    margin-top: 10px;
    font-size: 50px;
    height: 80px;
    letter-spacing: 20px;
    text-align: center;
  }
}
