.search {
  border: 2px solid #ccc;
  border-right-width: 0;
  border-radius: 0;
  height: 36px;
  &:focus {
    box-shadow: none;
  }
}
table.donors {
  tr {
    height: 42px;
    td.avatar {
      width: 60px;
      img {
        max-width: 25px;
        border-radius: 5px;
      }
    }
  }
}
