body {
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
}
.intro-text {
  margin: 48px 0;
  h1 {
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 24px;
  }
  h4 {
    font-size: 27px;
    font-weight: 200;
    line-height: 37px;
  }
}
.jumbotron {
  background: image-url('mountains.png'), -webkit-linear-gradient(-280deg, #217142, #214271), no-repeat #214271 scroll;
  background: image-url('mountains.png'),linear-gradient(10deg, #217142, #214271), no-repeat #214271 scroll;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 140px;
  color: #fff;
  margin-bottom: 0;
  .logo {
    font-size: 48px;
    height: 96px;
    line-height: 72px;
    margin-bottom: 48px;
    .fa-inverse {
      color: #214271;
    }
  }
  h2 {
    font-size: 29px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  p.copy {
    margin: auto;
    margin-bottom: 3em;
    font-weight: lighter;
    line-height: 24px;
    font-size: 18px;
  }
}
header.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  color: #fff;
  > .container {
    .navbar-brand {
      padding: 7px;
      margin-left: 0;
      color: #fff;
      .fa-inverse {
        color: #214271;
      }
    }
  }
}
footer {
  background: white;
  padding: 24px;
  &.navbar {
    margin-bottom: 0;
    border-top: 1px #ccc solid;
  }
  .navbar-nav {
    > li {
      > a {
        -webkit-transition: color 0.1s linear;
        -moz-transition: color 0.1s linear;
        transition: color 0.1s linear;
        color: rgba(64,82,107,0.4);
        font-size: 13px;
        font-weight: 800;
        padding: 0 10px;
        &:hover {
          color: #40526b;
          background-color: #fff;
        }
      }
    }
  }
}
.alert {
  border: 0 !important;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
.img-avatar {
  margin-right: 10px;
}
.img-rounded-square {
}
.give {
  color: #555459;
  font-size: 16px;
  line-height: 24px;
  header {
    max-width: 50pc;
    margin: 0 auto;
    padding: 36px 5pc 0;
    position: relative;
    .divider {
      width: 60px;
      border-top: 1px solid #d8d8d8;
    }
    .donee-avatar {
      position: absolute;
      left: .6rem;
      margin-top: 3px;
      img {
        width: 51px;
        height: 51px;
        border-radius: 5px;
      }
    }
    .profile {
      .name {
        display: block;
        margin-top: 1px;
        font-size: 15px;
        line-height: normal;
        font-weight: 700;
        color: #b3b5b9;
      }
      .project {
        font-size: 34px;
        line-height: 43px;
        font-weight: 900;
        letter-spacing: -1px;
        padding: 0;
        color: #232323;
        text-rendering: optimizeSpeed;
        margin: 0 0 22px;
      }
    }
  }
  .content {
    display: block;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 1.65rem 5pc 1.65rem;
    color: #232323;
    text-rendering: optimizeSpeed;
    outline: 0;
    .block {
      max-width: 40pc;
      margin: 0 auto;
      .mpd {
        .progress {
          margin-bottom: 5px;
        }
        .subtitle {
          h1 {
            margin-bottom: 0;
          }
        }
      }
      h2 {
        font-size: 27px;
        font-weight: 700;
        line-height: 33px;
        min-height: 33px;
        letter-spacing: -1px;
        margin: 0 0 7px 0;
      }
      h3 {
        font-size: 20px;
        font-weight: lighter;
        line-height: 33px;
        min-height: 33px;
        letter-spacing: -1px;
        margin: 24px 0 7px 0;
        text-transform: uppercase;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        min-height: 30px;
        margin: 0 0 24px 0;
      }
      .disclaimer {
        font-size: 12px;
        color: #999;
        margin-bottom: 24px;
      }
      p + .disclaimer {
        margin-top: -24px;
      }
      .going {
        color: #4e5665;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 24px;
        .avatars {
          margin-top: 2px;
          img {
            width: 32px;
            height: 32px;
            border-radius: 5px;
          }
        }
      }
    }
    .details {
      border: 1px solid #ccc;
      border-bottom: 0;
      .help-inline {
        display: none;
      }
      .row {
        border-bottom: 1px solid #ccc;
        margin: 0;
        [class^="col-md-"]:first-child {
          border-right: 1px solid #ccc;
        }
      }
      > .form-group {
        border-bottom: 1px solid #ccc;
        padding: 0 15px;
        &.error {
          background-color: #f2dede;
          label.control-label {
            color: #a94442;
          }
        }
      }
      .form-group {
        margin-bottom: 0;
      }
      label.control-label {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 10px;
      }
      input[type=text], input[type=email], input[type=tel], input[type=number]   {
        &.form-control {
          border: 0;
          box-shadow: none;
          padding: 0;
          border-radius: 0;
          background-color: transparent;
          &:focus {
            border: 0;
            box-shadow: none;
          }
        }
      }
      .form-group.boolean {
        padding: 10px 15px;
        label.control-label {
          margin: 0;
        }
        .checkbox {
          margin: 0 10px 0 0;
          display: inline-block;
          input[type=checkbox].form-control {
            position: static;
            display: inline-block;
            margin: 0;
            width: auto;
            height: auto;
          }
        }
      }
    }
    .submit {
      margin-top: 20px;
      padding: 20px 15px;
      background-color: #eee;
      text-align: right;
    }
    &.special {
      background-color: #e51937;
      text-align: center;
      .block {
        margin: 40px auto;
        .btn-primary {
          border: 3px solid #fff;
          border-radius: 0;
          background-color: #e51937;
          text-decoration: none;
          margin-right: 10px;
        }
      }
    }
  }
}
