body {
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.intro-text {
  margin: 48px 0;
  h1 {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 24px;
  }
  h4 {
    font-size: 27px;
    font-weight: 200;
    line-height: 37px;
  }
}
.jumbotron {
  background: image-url('mountains.png'), -webkit-linear-gradient(-280deg, #217142, #214271), no-repeat #214271 scroll;
  background: image-url('mountains.png'),linear-gradient(10deg, #217142, #214271), no-repeat #214271 scroll;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 140px;
  color: #fff;
  margin-bottom: 0;
  .logo {
    font-size: 48px;
    height: 96px;
    line-height: 72px;
    margin-bottom: 48px;
    .fa-inverse {
      color: #214271;
    }
  }
  h2 {
    font-size: 29px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  p.copy {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    margin: auto;
    margin-bottom: 3em;
    font-weight: lighter;
    line-height: 24px;
    font-size: 18px;
  }
}
header.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  color: #fff;
  > .container {
    .navbar-brand {
      padding: 7px;
      margin-left: 0;
      color: #fff;
      .fa-inverse {
        color: #214271;
      }
    }
  }
}
footer {
  background: white;
  padding: 24px;
  &.navbar {
    margin-bottom: 0;
    border-top: 1px #ccc solid;
  }
  .navbar-nav {
    > li {
      > a {
        -webkit-transition: color 0.1s linear;
        -moz-transition: color 0.1s linear;
        transition: color 0.1s linear;
        color: rgba(64,82,107,0.4);
        font-size: 13px;
        font-weight: 800;
        padding: 0 10px;
        &:hover {
          color: #40526b;
          background-color: #fff;
        }
      }
    }
  }
}
.alert {
  border: 0 !important;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}
.img-avatar {
  margin-right: 10px;
}
.img-rounded-square {
}
.give {
  font-family: Slack-Lato,appleLogo,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555459;
  font-size: 16px;
  line-height: 24px;
  header {
    max-width: 50pc;
    margin: 0 auto;
    padding: 36px 5pc 0;
    position: relative;
    .divider {
      width: 60px;
      border-top: 1px solid #d8d8d8;
    }
    .user-avatar {
      position: absolute;
      left: .6rem;
      margin-top: 3px;
      img {
        width: 51px;
        height: 51px;
        border-radius: 5px;
      }
    }
    .profile {
      .name {
        display: block;
        margin-top: 1px;
        font-size: 15px;
        line-height: normal;
        font-weight: 700;
        color: #b3b5b9;
      }
      .project {
        font-size: 34px;
        line-height: 43px;
        font-weight: 900;
        letter-spacing: -1px;
        padding: 0;
        color: #232323;
        text-rendering: optimizeSpeed;
        margin: 0 0 22px;
      }
    }
  }
  .content {
    display: block;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 1.65rem 5pc 4rem;
    color: #232323;
    text-rendering: optimizeSpeed;
    outline: 0;
    .block {
      max-width: 40pc;
      margin: 0 auto;
      h2 {
        font-size: 27px;
        font-weight: 700;
        line-height: 33px;
        min-height: 33px;
        letter-spacing: -1px;
        margin: 0 0 7px 0;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        min-height: 30px;
        margin: 0 0 24px 0;
      }
      .going {
        color: #4e5665;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 24px;
        .avatars {
          margin-top: 2px;
          img {
            width: 32px;
            height: 32px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
