.users {
  &.users-edit {
    .simple_form {
      margin-bottom: 20px;
      .form-group {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  #user_activation_code {
    margin-top: 10px;
    font-size: 50px;
    height: 80px;
    letter-spacing: 20px;
    text-align: center;
  }
}