%footer
  %section
    %ul
      %li
        %a{href: 'https://www.studentlife.org.nz', target: '_blank'} Developed by Student Life
    .footer-secondary-links
      %ul
        %li
          %a{href: 'https://www.studentlife.org.nz/privacy-policy/', target: '_blank'} Privacy Policy
      %ul.footer-social
        %li
          %a{href: 'https://www.facebook.com/slnz.co', target: '_blank'}
            = fa_icon 'facebook'
        %li
          %a{href: 'https://twitter.com/nzstudentlife', target: '_blank'}
            = fa_icon 'twitter'
        %li
          %a{href: 'https://www.youtube.com/channel/UCZLQ1DfDSLbTCh-PiFo6SMg', target: '_blank'}
            = fa_icon 'youtube-play'